$light: #FEFEFE; /*branco*/
$grey: #A9A9A9;
$text-grey: #696969;
$dark: #222; /*cinza*/
$primary: #155799; /*azul claro*/
$primary-dark: #0E3862; /*azul escuro*/
$secondary: #159957; /*verde*/
$secondary-dark: #0C5430; /*verde escuro*/