/*branco*/
/*cinza*/
/*azul claro*/
/*azul escuro*/
/*verde*/
/*verde escuro*/
/*.account .card{
    height: 100%;
}
.account .sec-title{
    height: 10%;
}
#courses-slider{
    height: 90%;
}
.slick-list{
    height: 100%;
}
.slick-track{
    height: 100%;
}*/
.account {
  padding-right: 0;
  padding-left: 0; }

.account {
  padding-top: 2.7em;
  background-color: #15955b; }

.account section {
  height: 100vh; }

#user-info {
  background-color: #15955b; }

#courses {
  background-color: #157d73; }

#shirts {
  background-color: #196988; }

#user-info > .row {
  height: 45em;
  max-height: 100vh; }

.account .sec-btns {
  margin-left: 1.2em;
  margin-top: 1.2em; }

#courses-slider {
  height: 85%; }

.sec-btns {
  height: 15%; }

.account .card {
  height: 100%; }

.sympla-widget {
  width: 90%;
  margin-top: 10%; }

.slick-list {
  height: 100%; }

.slick-track {
  height: 100%; }

button.scroll-down {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: transparent;
  font-size: 2em;
  color: white;
  animation: bounce .7s infinite alternate;
  z-index: 2; }

.account .card p, .account .card h5 {
  color: #222;
  text-align: left; }

.account .card-footer {
  height: 20%;
  font-size: .9em; }

.account .card-footer button {
  margin: 0;
  padding: 0 .5em; }

.account .card-footer > div {
  height: fit-content !important; }

.account .card-img-container {
  width: 100%;
  height: 80%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

/*.account .card-img-container img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}*/
.account #shirt-slider {
  height: 85%; }

.account #shirt-slider .card-body {
  width: 100%;
  height: 10%; }

.account #shirt-slider .card-footer {
  width: 100%;
  height: 10%; }

#shirt-slider .card-body {
  padding: 0 1.25rem; }

.account .slick-slider {
  height: 100%; }

.h-60 {
  height: 60% !important; }

.modal-title {
  color: #222 !important; }

.card-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0; }

.card-checkbox {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 1em;
  height: 1em;
  z-index: 2; }

.card .alert {
  display: none;
  z-index: 3;
  width: fit-content;
  height: fit-content;
  padding: 0 .5em;
  position: absolute;
  top: 0;
  right: 10%; }

.account .help {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.account .help i {
  margin: 0; }

.account .help button {
  color: white;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: none; }

.modal-body p {
  color: #222 !important; }

.status {
  background-color: #FEFEFE;
  max-width: unset;
  position: relative; }

.status-label {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center; }

.status-col {
  height: 50vh; }

.status-ball-green {
  width: 20px;
  height: 20px;
  background-color: #45f345;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #496d02 0 -1px 9px, #45f345 0 2px 12px; }

.status-ball-yellow {
  width: 20px;
  height: 20px;
  background-color: #f1ef4d;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #a8a605 0 -1px 9px, #f3f045 0 2px 12px; }

.status-ball-red {
  width: 20px;
  height: 20px;
  background-color: #e00000;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #ad0202 0 -1px 9px, red 0 2px 12px; }

.status-ball-orange {
  width: 20px;
  height: 20px;
  background-color: #ff8800;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #cc6d00 0 -1px 9px, #ff8800 0 2px 12px; }

.status-text {
  margin-left: 10px; }

.list-group-container {
  width: 90%; }

.list-group {
  width: 100%;
  margin-top: 5%; }

.hide {
  display: none; }

.btn-refresh {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 70%;
  padding: 0; }

.btn-refresh i {
  margin: 0; }

.info {
  background-color: #FEFEFE; }

.info .alert {
  position: relative;
  top: unset;
  right: unset;
  width: 100%;
  padding: .75rem 1.25rem;
  padding-right: 4rem; }

.btn-ok {
  display: none; }

@media (min-width: 1200px) {
  .right-side {
    align-items: flex-start !important; } }
@media (max-width: 1200px) {
  .account .sec-title {
    font-size: 2.3em; }

  .account .sec-text {
    font-size: .95em; }

  .right-side > div {
    height: fit-content !important; } }
@media (max-width: 992px) {
  #user-info {
    height: 200vh; }

  #user-info > .row {
    max-height: unset; }

  .status-container {
    height: fit-content !important; }

  .right-side {
    padding: 0 !important; }

  .right-side .card {
    padding: 1em !important; }

  .left-side, .right-side {
    height: 50% !important; }

  .status-col {
    height: 50vh !important; } }
@media (max-width: 576px) {
  #verifyPayment-btn {
    margin-top: 1rem; } }
@media (max-width: 400px) {
  .account .sec-title {
    font-size: 1.5em; }

  .account .sec-text {
    font-size: .90em; }

  .list-group-item {
    padding: .3rem .6rem; } }
@media (max-width: 340px) {
  #showModalChangePass {
    margin-top: 1rem; } }
@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-20px); } }

/*# sourceMappingURL=account.css.map */
